header.header {
  height: 7%;
  padding: 0 0.5rem;
  border: 1px solid black;

  display: flex;
  justify-content: space-between;
  align-items: center;
}

header > nav > ul {
  display: flex;
  list-style-type: none;

  gap: 1rem;
}

div.mainContainer {
  height: 100vh;

  flex-direction: column;
}

div.mainContainer > main {
  height: 80%;
  background-color: #ddd;
}

div.mainContainer > footer {
  height: 7%;
  flex-grow: 1;
}
